body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.left-section,
.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    flex-direction: column;


    padding: 20px;
}

.character {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    width: 6vw;
    height: 6vw;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.grid-item span {
    background-color: #333333;
    padding: 2px;
}

.bottom-row {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
}

.grid-text {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}

.btn {
    padding: 0;
    width: 1.2vw;
    height: 1.2vw;
    background-color: #555555;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #777777;
}

.btn:active {
    background-color: #999999;
}

#closeModal {
    width: 150px;
    height: 40px;
    background-color: #555555;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#closeModal:hover {
    background-color: #777777;
}

#closeModal:active {
    background-color: #999999;
}


.right-section {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.mini-container {
    width: 100%;
    height: 10%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    font-weight: bold;
}

.info span {
    font-size: 16px;
    line-height: 1.6;
}

.highlight {
    color: #B83434;
    font-weight: bold;
}

.white {
    color: white;
}

.trash {
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    background-image: url(../imgs/trash.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.modal-accs {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.modal-accs img {
    flex: 0 0 calc(12.5% - 10px);

    margin-right: 10px;
    cursor: pointer;
}


.tooltip {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333333;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    display: none;
    z-index: 10;
}

.grid-item:hover .tooltip {
    display: block;
}

.mini-container img {
    width: 10%;
    cursor: pointer;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modal div img {
    width: 80px;
}

.button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-container .btn {
    flex: 1;
    width: 100%;
    border: none;
    padding: 3px;
    margin: 2.5px;
    margin-left: 0;
    color: white;
    cursor: pointer;
}

.button-container .btn:hover {
    background-color: #0056b3;
}

.copyright {
    font-size: 13px; 
    margin-top: 25px;
}

@media (min-width: 1921px) { /* 2K */
    .info span {
        font-size: 24px;
    }
    .btn, .grid-item span {
        font-size: 18px;
    }
    .tooltip {
        font-size: 18px;
    }
    .copyright {
        font-size: 15px; 
    }
}

@media (min-width: 2561px) { /* 4K */
    .info span {
        font-size: 32px;
    }
    .btn, .grid-item span {
        font-size: 30px;
    }
    .btn {
        border-radius: 8px;
    }
    .copyright {
        font-size: 20px; 
    }
}

@media (min-width: 1400px) and (max-width: 1700px) { /* ??? */
    .info span {
        font-size: 14px;
    }
    .btn, .grid-item span {
        width: 1vw;
        height: 1vw;
        border-radius: 3px;
        font-size: 10px;
    }
    .copyright {
        font-size: 10px; 
    }
}


@media (max-width: 1280px) { /* HD */
    .info span {
        font-size: 14px; 
    }
    .btn {
        width: 1vw;
        height: 1vw;
        border-radius: 3px;
    }
    .btn, .grid-item span {
        font-size: 8px;
    }
    .tooltip {
        font-size: 10px;
    }
    .copyright {
        font-size: 10px; 
    }
}